@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --shadow-black: 4px 4px 0 #000;
  --shadow-black-sm: 1px 1px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --animate-scroll: scroll 20s linear infinite;
}

@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@custom-variant dark (&:where(.dark &));

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
