@import "tailwindcss";

* {
  /* font-family: Ovo; */
  box-sizing: border-box;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --animate-scroll: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
